.avatar {
  width: 260px;
  height: 200px;
}

.preview {
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 350px) {
}
