h3 {
  margin-top: 20px;
  font-family: Roboto-Regular;
  font-size: 25px;
  color: #424242;
  margin-left: 40px;
}
h3:hover {
  cursor: pointer;
  color: orange;
}

.content-product {
  color: red;
  border: 1px solid black;
}
