@import 'react-slideshow-image/dist/styles.css';

main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

h3 {
  padding: 0.5rem 0;
}

.fullscreen .image-gallery-slide img {
  height: 100vh;
}

.image-gallery-slide img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

a:hover {
  font-weight: bold;
}

.suggest:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .arrowImage {
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 350px) {
}
